
<nav>
  <ul class="nav-bar">
    <li><%= link_to "Home" %></li>
    <li><%= link_to "All Books", books_path %></li>
  </ul>
</nav>


<h1>Welcome to Book Club</h1>

<p>A project brought to you by: Brian Plantico and Smitha Hosmani</p>
<p>GitHub: </p>
