<h1>Welcome to Book Club</h1>

<p>A Module 2 Backend Engineering project completed in 10 days at Turing School of Software and Design.</p>
<h4>Project Contributors:</h4>
<li><a href="https://github.com/bplantico" target="_blank">Brian Plantico</a></li>
<li><a href="https://github.com/hsmitha26" target="_blank">Smitha Hosmani</a></li>

<div class="welcome-image">
  <img src="https://media.wnyc.org/i/800/0/c/85/1/shutterstock_119131492.jpg" />
</div>
