<main id="welcome">
  <h1 id="welcome-title">Welcome to Book Club</h1>

  <div id="welcome-message">
    <p>A Module 2 Backend Engineering project completed in 10 days at Turing School of Software and Design.</p>
    <h4>Project Contributors:</h4>
    <li><a href="https://github.com/bplantico" target="_blank">Brian Plantico</a></li>
    <li><a href="https://github.com/hsmitha26" target="_blank">Smitha Hosmani</a></li>
  </div>

  <div class="welcome-image">
    <img src="http://clipart-library.com/images/dc45nnkzi.jpg" />
  </div>
</main>
