/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .books-index-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
   padding: 20px;
 }

 .books-index{
   box-shadow: -6px 8px 6px -6px black;
   padding: 25px;
   background-color: #DEDBDB;
   border-radius: 8px;
   margin: 20px auto;
 }

 #cover-thumbnail{
   width: 200px;
   height: 250px;
   padding: 20px;
   object-fit: cover;
 }

 body {
  margin: 0;
  padding: 0;
  background: #F4F5EB;
}

.nav-bar ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0px;
  margin: 0;
}
.nav-bar li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline;
  padding: 20px;
}

#welcome-image{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#welcome-image img{
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
